// ==============================
// Menu
// =============================

.site-navbar {
  float: right;

  .menu {
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-family: $global-font-family;
    margin-top: 12px;

    .menu-item {
      display: inline-block;

      & + .menu-item {
        margin-left: $menu-item-margin-left;;
      }

      @include underline-from-center;
    }

    @import 'search';

    .menu-item-link {
      font-size: $menu-link-font-size;
      color: var(--text-secondary);
      transition: color 0.15s ease;

      &:hover {
        color: $global-font-color;
      }
    }
  }
}

@include max-screen() {
  .site-navbar {
    display: none;
  }
}
