// ==============================
// Social
// =============================

.social-links {
  text-align: center;

  .iconfont {
    font-size: $social-icon-font-size;
    color: $dark-gray;
    transition: color 0.15s ease;

    & + .iconfont {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $theme-color;
    }
  }
}