// ==============================
// Post content
// ==============================

.post-content {
  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 600;
      // font-family: $global-serif-font-family;
      font-family: $global-font-family;
    }
  }

  .headerlink {
    &:hover {
      border-bottom: 0;
    }

    &::before {
      content: $content-headings-anchor;
      margin-right: 6px;
      color: $dark-gray;
      font-weight: 400;
    }
  }

  a {
    color: $theme-color;
    word-break: break-all;
    border-bottom: 1px solid rgba($theme-color, 0.3);
    transition: border-color 0.15s ease;

    &:hover {
      border-bottom: $content-link-border;
    }
  }

  blockquote {
    margin: 1.5em 0;
    padding: 4px 20px;
    position: relative;
    color: rgba($global-font-color, 0.75);
    background-color: $content-blockquote-backgroud;
    border-left: $content-blockquote-border-left;
    border-radius: 0 4px 4px 0;

    p {
      margin: 0.5em 0;
    }
  }

  img {
    display: inline-block;
    max-width: 100%;
    border-radius: 4px;
  }

  > table {
    max-width: 100%;
    margin: 1em 0;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 0.95em;

    th, td {
      padding: 8px 16px;
      border: 1px solid $content-table-border-color;
    }

    th {
      background: $deputy-color;
      font-weight: 600;
    }
  }

  @import 'code';

  .read-more {
    margin-top: 1.5em;

    .read-more-link {
      color: $theme-color;
      font-size: 0.95em;
      font-family: $global-font-family;
      border-bottom: 1px solid rgba($theme-color, 0.3);

      &:hover {
        border-bottom: $post-readMore-border-bottom;
      }
    }
  }
}
