// ==============================
// Post footer
// ==============================

.post-footer {
  margin-top: $post-footer-margin-top;
  border-top: $post-footer-border-top;
  font-family: $global-font-family;

  .post-tags {
    padding: $post-tags-padding;

    a {
      display: inline-block;
      margin: 4px 8px 4px 0;
      padding: 2px 10px;
      color: $theme-color;
      background: $deputy-color;
      border-radius: 12px;
      font-size: 13px;
      word-break: break-all;
      transition: background 0.15s ease;

      &::before {
        content: '#';
      }

      &:hover {
        background: darken($deputy-color, 3%);
      }
    }
  }

  .post-nav {
    margin: 1em 0;
    @include clearfix;

    .prev,
    .next {
      font-weight: 500;
      font-size: $post-nav-font-size;
      font-family: $global-font-family;
      color: rgba($global-font-color, 0.7);
      transition-property: transform, color;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
    }

    .prev {
      float: left;

      &:hover {
        color: $theme-color;
        transform: translateX(-4px); 
      }
    }

    .next {
      float: right;

      &:hover {
        color: $theme-color;
        transform: translateX(4px); 
      }
    }

    .nav-mobile {
      display: none;
    }
  }
}

@include max-screen() {
  .post-footer {
    .post-nav {
      .nav-default {
        display: none;
      }

      .nav-mobile {
        display: inline;
      }
    }
  }
}