// ==============================
// Back to top
// =============================

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(8px);
  transition: opacity 0.2s ease, visibility 0.2s, transform 0.2s ease;
  z-index: 10;

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &:hover {
    transform: translateY(-5px);
  }
}

@include max-screen() {
  .back-to-top {
    display: none !important;
  }
}
