// ==============================
// Pagination
// ==============================

.pagination {
  margin: $pagination-margin;
  @include clearfix;

  .prev,
  .next {
    font-weight: 500;
    font-size: $pagination-font-size;
    font-family: $global-font-family;
    color: rgba($global-font-color, 0.7);
    transition-property: transform, color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
  }

  .prev {
    float: left;

    &:hover {
      color: $theme-color;
      transform: translateX(-4px); 
    }
  }

  .next {
    float: right;

    &:hover {
      color: $theme-color;
      transform: translateX(4px); 
    }
  }
}